<div class="column is-full">
  <div class="forums"> 
 <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= gravatar_image_tag(@forum.user.email, class:'border-radius-50', size: 48, alt: @forum.user.username) %>
    </p>
  </figure>
   <div class="column is-8">
            <h1 class="title is-8"><%= @forum.title %></h1>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= @forum.user.username %></strong> <small>Posted <%= time_ago_in_words(@forum.created_at) %> ago</small> in
              <% if @forum.subject %>
                <%= link_to @forum.subject.subject, @forum.subject %>
              <% end %> section
        <br>
         <%= @forum.content %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
        </a>
        <p class="level-item">
          <%= @forum.replies.count %> Replies
        </p>
      </div>
    </nav>
    <div id="forum-replies">
      <%= render @forum.replies.order(likes: :desc) %>
    </div>
    <hr />
    <h3 class="subtitle is-3 has-text-grey">Leave a reply</h3>
    <% if user_signed_in? %>
      <%= render 'replies/form' %>
    <% else %>
    <p>To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
      <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
    <% end %>
  </div>
  </div>
  <div class="media-right">
    <% if user_signed_in? %>
        <% if forum_is_owner(@forum) || current_user.admin? %> 
        <div class="column has-text-right">
          <%= link_to 'Edit', edit_forum_path(@forum), class:'button' %>
          <%= link_to 'Delete', forum_path(@forum), method: :delete, data: { confirm: "Delete forum?" }, class:'button' %>

        </div>
        <% end %>
        <% end %>
  </div>
</article>
</div>
</div>





