<div class="container">
  <div class="column is-10">
  <div class="forums">
    <% @users.each do |user| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1">
          <a href="/members/<%= user.id %>">
          <%= gravatar_image_tag(user.email, class:'border-radius-50', size: 48, alt: user.username) %>
        </a>
        </div>
        <div class="column is-10">
          
            <h3><strong><%= user.username%></strong> Joined: <%= time_ago_in_words(user.created_at) %> Id: <%= user.id %>
            
      <% if user.username != current_user.username %>
        
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <% end %></h3>
            <h5><strong>College:</strong> <%= user.college%> <strong>Studying:</strong> <%= user.studying%></h5>
          <br/>
          <div class="content">
            <%= truncate (user.about), length: 200 %>
           
          </div>
        </div>

        

      </div>
    <% end %>
    <div>
      <% if @page < @limitPages%>
      <%= link_to "Next Page", members_path(page: @page + 1) %> 
        <% end %>
        |
      <% if @page > 0%>
      <%= link_to "Last Page", members_path(page: @page - 1) %>
      <% end %>
    </div>
  </div>
</div>
</div>