<!DOCTYPE html>
<html>
  <head>
    <title>Alumni Ireland</title>
    <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script>$(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});

</script>

  </head>

  <body>
    <div class="header">
     <section class="hero is-smallx2 bgimg"> <div class="hero-body"> <div class="container has-text-centered"> <h1 class="title has-text-white">Alumni Ireland</h1>
     <%=render 'layouts/search'%></div> </div> </section></div>


    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
     <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5"></h1> 
        <% end  %>
      <div class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
         

         

         <div class="navbar-item">
            <div class="field is-grouped">
              <%= link_to 'Home', home_path, class:"navbar-item" %>
            </div>
          </div>

          <% if user_signed_in? %>
          <div class="navbar-item">
            <div class="field is-grouped">
              <%= link_to 'Members', members_path, class:"navbar-item" %>
            </div>
          </div>
          <% end %>

           <div class="navbar-item">
            <div class="field is-grouped">
              <%= link_to 'Browse forums', browseforums_path, class:"navbar-item" %>
            </div>
          </div>

          <div class="navbar-item">
            <div class="field is-grouped">
              <%= link_to 'Posts', forums_path, class:"navbar-item" %>
            </div>
          </div>


       

          <% if user_signed_in? %>
          
           <div class="navbar-item">
              <div class="field is-grouped">
               <%= link_to "Messages", conversations_path, class: "navbar-item" %>
             </div>       
          </div>

           <div class="navbar-item is-hoverable">
            <div class="field is-grouped">
              <%= link_to 'New Post', new_forum_path, class: "navbar-item" %>
            </div>
          </div>

           <% if user_signed_in? && current_user.admin? %>
          
         <div class="navbar-item has-dropdown is-hoverable">
            <div class="field is-grouped">
              <%= link_to 'New forum section', new_subject_path, class: "navbar-link" %>
               <div class="navbar-dropdown is-right">
                 <%= link_to "New forum section", new_subject_path, class: "navbar-item" %>
                  <%= link_to "Edit forum section", subjects_path, class: "navbar-item" %>
                
               </div>
            </div>
          </div>
        
        <% end %>
        
          <div class="navbar-item has-dropdown is-hoverable">
           
            <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>
            <div class="navbar-dropdown is-right">
                <a href="/members/<%= current_user.id %>" class="navbar-item">
                <%= current_user.username  %>
                </a>
               <%= link_to "Messages", conversations_path, class:"navbar-item" %>
              <%= link_to "Edit profile", edit_user_registration_path, class:"navbar-item" %>
               <%= link_to "My posts", myposts_path, class:"navbar-item" %>
             
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
            </div>
          </div>
         <% else %>
         <div class="navbar-item">
          <div class="field is-grouped">

           
            <p class="control">
              <%= link_to "Sign In", new_user_session_path, class: "button is-light"%>
            </p>

            <p class="control">
              <%= link_to "Sign up", new_user_registration_path, class: "button is-light" %>
            </p>
          </div>
          </div>
          <% end %>

        </div>
    </div>
  </nav>

<section class="section">
  <div class="container">
    <%= yield %>
  </div>
</section>

<div class="footer is-small has-background-black">

</div>
</div>
  </body>
</html>
